body {
  font-family: "Montserrat";
}

/*Headings*/
h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h3 {
  font-family: "Montserrat-bolder";
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

/*Navigation*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*download-button*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title image*/
.iphone {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 30px;
  padding-bottom: 10px;
  position: absolute;
}

/*featue id */
/*paragraph*/
p {
  color: #8f8f8f;
}

.feature-row {
  margin: 0 10%;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.col-md-4 {
  text-align: center;
}

.fa-check-circle {
  margin: 0 40%;
  color: #ef8172;
  padding-bottom: 10px;
}

.fa-bullseye {
  margin: 0 40%;
  color: #ef8172;
  padding-bottom: 10px;
}

.fa-heart {
  margin: 0 40%;
  color: #ef8172;
  padding-bottom: 10px;
}

.fas:hover {
  color: #ff4c68;
}

/*testimonials*/
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.dog-pic {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/*press*/
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 30px 20px 50px;
}

/*pricing*/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/*media quer*/
@media(max-width:975px) {
  #title {
    text-align: center;
  }

  .iphone {
    transform: rotate(0);
    position: static;
  }
}

/*cta*/
#cta {
  background-color: #ff4c68;
  font-family: "Montserrat-Black";
  padding: 4% 15%;
  text-align: center;
  color: #fff;
}

.love {
  font-size: 2.5rem;
  padding: 2% 15%;
}

/*footer*/
#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% ;
}

.footer-icon {
  padding: 1%;
}

.footer-anchor{
  text-decoration: none;
  color:Black;
}
